.dashboard {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .jobsContainer {        
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;        
        gap: 65px;
    }
}